@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    overflow: hidden;
}

.login-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.login-banner-image {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {

    margin: 20px;

}

.top-section {
    display: flex;
    flex-direction: row;
    gap: 32rem;
    padding-bottom: 15px;
    border-bottom: 3px solid black;

}

.uni-logo-image {
    position: relative;
    height: 90px;
    right: 0px;

}

.top-login-text {
    margin-top: 25px;
}

.Login {
    font-size: 3em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #006100;
}

.top-second-text {
    font-family: "Inter", sans-serif;
    font-size: 0.75em;
    font-weight: bold;

}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    gap: 35px;

}

.input-field {
    border-radius: 20px;
    border-color: transparent;
    background-color: #E2E2E2;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: larger;

}

.foroget {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    text-decoration-line: underline;
    color: black;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
}

.login-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: medium;
    background-color: #E2E2E2;
    border-color: transparent;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.register-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: medium;
    background-color: #E2E2E2;
    border-color: transparent;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.signup-section {
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 40px;
}

.signup-text {
    padding-left: 5px;
}

.a-link {
    text-decoration: none;
    color: #00C700
}

.bottom-line {
    border-bottom: 3px solid black;
    padding-top: 20px;

}

.bottom-text {
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: #919191;
}



.bottom-link {
    color: black;
    text-align: center;
    padding-left: 22rem;
    font-size: smaller;

}

.login-button:hover,
.register-button:hover {
    background-color: #00C700;
    border-color: black;
    transform: scale(1.05);

}