.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  width: 600px;
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 50px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background 0.3s;
}

.drop-area:hover {
  background-color: #e0e0e0;
}

.drop-text {
  font-size: 28px;
  font-weight: bold;
  color: #555;
}

.drop-subtext {
  font-size: 22px;
  font-weight: bold;
  color: #777;
}

.instruction-text {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.skip-button {
  background: none;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 14px;
}
