.medical-request-page{
  min-height: 100vh;
  overflow-y:auto;
  padding: 10px 20px 20px 20px;
 
}

.requests-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  margin-top: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}

.cancel-btn {
  background-color: rgb(255, 0, 140);
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  background-color: #00cc66;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}
.cancel-btn:hover {
  background-color: #cc0000;
}

.submit-btn:hover {
  background-color: #00994d;
}
.requests-grid.two-cols{
  grid-template-columns: repeat(2,1fr);
  
}
.requests-grid.three-cols{
  grid-template-columns: repeat(3,1fr);
  
}


.requests-grid .card {
  transition: all 0.3s ease;
  padding: 16px;
}
.three-cols .card {
  scale: 0.95;        
  transform: translateX(10px);
}
.MR{
  position: sticky;
  top: 0;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  font-size: 24px;
  margin-left: 15em;
 
}
.empty-state {
  text-align: center;
  padding: 60px 20px;
  color: #777;
  font-size: 18px;
  font-style: italic;
}


