.success-popup {
  background-color: #d8fcdb;
  color: #4ac204;
  border: 1px solid #059133;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 16px auto;
    width: 400px;
}

.success-icon {
  font-size: 18px;
  height: 20px;
  object-fit: contain;
}

.success-text {
  flex: 1;
  font-weight: bold;
}