# Node modules
node_modules/

# Build outputs
dist/
build/
.out/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# Editor folders
.vscode/
.idea/
*.sw?

# TypeScript cache
*.tsbuildinfo

# Coverage reports
coverage/

# Optional: if using Redux DevTools local storage state
redux-localstorage.json
